.friendList {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 10px rgba(75, 228, 10, 0.12);
}

.friendList li {
  display: flex;
  border: 2px solid grey;
  border-radius: 5px;
}

.friendList li:not(:last-child) {
  margin-bottom: 10px;
}
