.statistics {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px 10px rgba(75, 228, 10, 0.12);
}

.title {
  text-transform: uppercase;
  text-align: center;
}

.statList {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.statList li {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.percentage {
  font-size: 20px;
}
